.container {
  max-width: 900px;
  padding-top: 30px;
}

h1 {
  padding: 20px;
}

.tab_content {
  padding: 10px;
}

footer {
  line-height: 3em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #999999;
  color: #CCCCCC;
  clear: both;
}

footer small {
  float: left;
}
